# **Data Preparation**

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("student.csv")

In [3]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

# ลบแถวที่คอลัมน์ 'ชื่อ' มีค่าเป็น NaN

In [4]:
df = df.dropna(subset=['ชื่อ'])

In [5]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

# ลบแถวคอลัมน์ 'อายุ' ที่มีค่าผิดปกติ โดยที่ค่า NaN ยังอยู่

In [6]:
Q1 = df['อายุ'].quantile(0.25)
Q3 = df['อายุ'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = ((df['อายุ'] >= Q1 - 1.5 * IQR) & (df['อายุ'] <= Q3 + 1.5 * IQR)) | df['อายุ'].isna()

df = df[outliers]

In [7]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

# ใส่ค่าเฉลี่ยของอายุ ในคอลัมน์ 'อายุ' ที่เป็นค่า NaN

In [8]:
mean_age = df['อายุ'].mean()
df['อายุ'].fillna(mean_age, inplace=True)
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.000,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.000,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.000,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
6,64007,กิตติ,21.000,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.000,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.000,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.000,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,20.875,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.000,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.000,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.000,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.000,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.000,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.000,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.000,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,20.875,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.000,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

# แปลงค่าทศนิยมที่คอลัมน์ 'อายุ' ให้เป็นจำนวนเต็ม

In [9]:
df['อายุ'] = df['อายุ'].astype(int)
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
6,64007,กิตติ,21,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,20,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,20,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

# ทำคอลัมน์ 'เพศ' ให้เป็นค่ามาตรฐาน

In [10]:
def standardize_faculty(name):
    if name in ['ชาย', 'ช', 'M', 'Male']:
        return 'ชาย'
    elif name in ['หญิง', 'ญ', 'F', 'Female']:
        return 'หญิง'
    else:
        return name

df['เพศ'] = df['เพศ'].apply(standardize_faculty)

# ใส่ข้อมูลในคอลัมน์ 'เพศ' ที่เป็นค่า NaN โดยเติมค่าด้วยค่าที่พบบ่อยที่สุด

In [11]:
df['เพศ'].fillna(df['เพศ'].mode()[0], inplace=True)
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22,ชาย,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19,หญิง,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
6,64007,กิตติ,21,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23,ชาย,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,20,หญิง,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22,หญิง,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,20,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22,หญิง,Science,3.45,168.0,64.0,23.0,2024-01-06

# ทำคอลัมน์ 'คณะ' ให้เป็นค่ามาตรฐาน

In [12]:
def standardize_faculty(name):
    if name in ['วิทยาศาสตร์', 'วิทย์', 'Science', 'คณะวิทยาศาสตร์', 'Sci']:
        return 'วิทยาศาสตร์'
    elif name in ['ศิลปศาสตร์', 'ศิลป์', 'Arts', 'Liberal Arts']:
        return 'ศิลปศาสตร์'
    elif name in ['วิศวกรรมศาสตร์', 'วิศวฯ', 'วิศวกรรม', 'วิศวะ']:
        return 'วิศวกรรมศาสตร์'
    else:
        return name

df['คณะ'] = df['คณะ'].apply(standardize_faculty)
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22,ชาย,วิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30.0,2024-01-27
6,64007,กิตติ,21,หญิง,วิศวกรรมศาสตร์,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,20,หญิง,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22,ชาย,วิทยาศาสตร์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,20,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22,หญิง,วิทยาศาสตร์,3.45,168.0,64.0,23.0,2024-01-06

# ใส่ข้อมูลในคอลัมน์ 'คณะ' ที่เป็นค่า NaN โดยเติมค่าด้วยค่าที่พบบ่อยที่สุด

In [13]:
df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22,ชาย,วิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30.0,2024-01-27
6,64007,กิตติ,21,หญิง,วิศวกรรมศาสตร์,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,20,หญิง,วิทยาศาสตร์,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22,ชาย,วิทยาศาสตร์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21,หญิง,วิทยาศาสตร์,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,20,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22,หญิง,วิทยาศาสตร์,3.45,168.0,64.0,23.0,2024-01-06

# ทำคอลัมน์ 'GPA' ที่มีค่าผิดปกติให้เป็นค่า NaN

In [14]:
df.loc[((df['GPA'] < 0) | (df['GPA'] > 4.00)) & df['อายุ'].notna(), 'GPA'] = np.nan
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22,ชาย,วิทยาศาสตร์,NaN,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30.0,2024-01-27
6,64007,กิตติ,21,หญิง,วิศวกรรมศาสตร์,NaN,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,20,หญิง,วิทยาศาสตร์,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22,ชาย,วิทยาศาสตร์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21,หญิง,วิทยาศาสตร์,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,20,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22,หญิง,วิทยาศาสตร์,3.45,168.0,64.0,23.0,2024-01-06

# ใส่ค่าเฉลี่ยของGPA ในคอลัมน์ 'GPA' ที่เป็นค่า NaN

In [15]:
mean_gpa = df['GPA'].mean()
df['GPA'].fillna(mean_gpa, inplace=True)
df['GPA'] = df['GPA'].round(2)
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22,ชาย,วิทยาศาสตร์,3.44,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30.0,2024-01-27
6,64007,กิตติ,21,หญิง,วิศวกรรมศาสตร์,3.44,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,20,หญิง,วิทยาศาสตร์,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22,ชาย,วิทยาศาสตร์,3.44,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21,หญิง,วิทยาศาสตร์,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,20,ชาย,ศิลปศาสตร์,3.44,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22,หญิง,วิทยาศาสตร์,3.45,168.0,64.0,23.0,2024-01-06

# ใส่ค่าเฉลี่ยของข้อมูล ในคอลัมน์ (ส่วนสูง_cm,	น้ำหนัก_kg,	ชั่วโมงเรียน_ต่อสัปดาห์) ที่มีค่าเป็น NaN

In [16]:
mean_high = df['ส่วนสูง_cm'].mean()
df['ส่วนสูง_cm'].fillna(mean_high, inplace=True)
df['ส่วนสูง_cm'] = df['ส่วนสูง_cm'].round(2)


mean_weight = df['น้ำหนัก_kg'].mean()
df['น้ำหนัก_kg'].fillna(mean_weight, inplace=True)
df['น้ำหนัก_kg'] = df['น้ำหนัก_kg'].round(1)

mean_lern = df['ชั่วโมงเรียน_ต่อสัปดาห์'].mean()
df['ชั่วโมงเรียน_ต่อสัปดาห์'].fillna(mean_lern, inplace=True)
df['ชั่วโมงเรียน_ต่อสัปดาห์'] = df['ชั่วโมงเรียน_ต่อสัปดาห์'].astype(int)

df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15,2024-01-23
1,64002,สมหญิง,21,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20,2024-02-05
3,64004,สมศักดิ์,22,ชาย,วิทยาศาสตร์,3.44,168.0,70.0,10,2023-12-30
4,64005,สมใจ,19,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30,2024-01-27
6,64007,กิตติ,21,หญิง,วิศวกรรมศาสตร์,3.44,158.0,48.0,35,2024-01-05
7,64008,จิรา,20,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18,2024-01-23
8,64009,ชนาธิป,23,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22,2024-02-11
9,64010,ดารา,21,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28,2024-01-03
10,64011,ธีระ,20,หญิง,วิทยาศาสตร์,3.78,167.0,68.0,21,2024-01-07
11,64012,นภา,22,ชาย,วิทยาศาสตร์,3.44,171.0,62.9,16,2023-12-26
12,64013,บุญมี,20,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24,2023-12-26
13,64014,ปรีชา,21,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19,2024-01-08
14,64015,พิมพ์,22,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26,2024-02-06
15,64016,ภูมิ,19,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14,2024-01-20
16,64017,มานี,20,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21,2024-01-24
17,64018,ยุพา,21,หญิง,วิทยาศาสตร์,3.23,161.0,50.0,27,2024-01-08
18,64019,รัตนา,20,ชาย,ศิลปศาสตร์,3.44,174.0,76.0,21,2023-12-18
19,64020,ลัดดา,22,หญิง,วิทยาศาสตร์,3.45,168.0,64.0,23,2024-01-06

# **Feature Engineering**

In [17]:
data = df
data

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15,2024-01-23
1,64002,สมหญิง,21,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20,2024-02-05
3,64004,สมศักดิ์,22,ชาย,วิทยาศาสตร์,3.44,168.0,70.0,10,2023-12-30
4,64005,สมใจ,19,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30,2024-01-27
6,64007,กิตติ,21,หญิง,วิศวกรรมศาสตร์,3.44,158.0,48.0,35,2024-01-05
7,64008,จิรา,20,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18,2024-01-23
8,64009,ชนาธิป,23,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22,2024-02-11
9,64010,ดารา,21,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28,2024-01-03
10,64011,ธีระ,20,หญิง,วิทยาศาสตร์,3.78,167.0,68.0,21,2024-01-07
11,64012,นภา,22,ชาย,วิทยาศาสตร์,3.44,171.0,62.9,16,2023-12-26
12,64013,บุญมี,20,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24,2023-12-26
13,64014,ปรีชา,21,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19,2024-01-08
14,64015,พิมพ์,22,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26,2024-02-06
15,64016,ภูมิ,19,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14,2024-01-20
16,64017,มานี,20,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21,2024-01-24
17,64018,ยุพา,21,หญิง,วิทยาศาสตร์,3.23,161.0,50.0,27,2024-01-08
18,64019,รัตนา,20,ชาย,ศิลปศาสตร์,3.44,174.0,76.0,21,2023-12-18
19,64020,ลัดดา,22,หญิง,วิทยาศาสตร์,3.45,168.0,64.0,23,2024-01-06

# แปลงข้อมูลของคอลัมน์ 'คณะ' เป็นตัวเลข

In [18]:
data_encoded = pd.get_dummies(data, columns=['คณะ']) * 1
data_encoded

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,คณะ_วิทยาศาสตร์,คณะ_วิศวกรรมศาสตร์,คณะ_ศิลปศาสตร์
0,64001,สมชาย,20,ชาย,3.21,170.0,65.0,15,2024-01-23,1,0,0
1,64002,สมหญิง,21,หญิง,3.45,165.0,58.0,20,2024-02-05,1,0,0
3,64004,สมศักดิ์,22,ชาย,3.44,168.0,70.0,10,2023-12-30,1,0,0
4,64005,สมใจ,19,หญิง,3.89,160.0,52.0,30,2024-01-27,0,1,0
6,64007,กิตติ,21,หญิง,3.44,158.0,48.0,35,2024-01-05,0,1,0
7,64008,จิรา,20,หญิง,2.98,180.0,82.0,18,2024-01-23,0,0,1
8,64009,ชนาธิป,23,ชาย,3.34,163.0,55.0,22,2024-02-11,0,0,1
9,64010,ดารา,21,หญิง,3.56,167.0,60.0,28,2024-01-03,0,0,1
10,64011,ธีระ,20,หญิง,3.78,167.0,68.0,21,2024-01-07,1,0,0
11,64012,นภา,22,ชาย,3.44,171.0,62.9,16,2023-12-26,1,0,0
12,64013,บุญมี,20,หญิง,3.23,169.0,72.0,24,2023-12-26,0,1,0
13,64014,ปรีชา,21,ชาย,3.45,164.0,54.0,19,2024-01-08,0,0,1
14,64015,พิมพ์,22,หญิง,3.67,162.0,56.0,26,2024-02-06,1,0,0
15,64016,ภูมิ,19,ชาย,3.89,173.0,78.0,14,2024-01-20,1,0,0
16,64017,มานี,20,หญิง,3.01,166.0,62.0,21,2024-01-24,0,1,0
17,64018,ยุพา,21,หญิง,3.23,161.0,50.0,27,2024-01-08,1,0,0
18,64019,รัตนา,20,ชาย,3.44,174.0,76.0,21,2023-12-18,0,0,1
19,64020,ลัดดา,22,หญิง,3.45,168.0,64.0,23,2024-01-06,1,0,0

# การสร้าง Feature จากเกรด GPA

In [19]:
g_data = data.copy()

g_data['ประเภทนักเรียน'] = pd.cut(g_data['GPA'],
                                  bins=[0, 3.25, 4.00],
                                  labels=['เรียนปกติ', 'เรียนเด่น'])

g_data

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,ประเภทนักเรียน
0,64001,สมชาย,20,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15,2024-01-23,เรียนปกติ
1,64002,สมหญิง,21,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20,2024-02-05,เรียนเด่น
3,64004,สมศักดิ์,22,ชาย,วิทยาศาสตร์,3.44,168.0,70.0,10,2023-12-30,เรียนเด่น
4,64005,สมใจ,19,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30,2024-01-27,เรียนเด่น
6,64007,กิตติ,21,หญิง,วิศวกรรมศาสตร์,3.44,158.0,48.0,35,2024-01-05,เรียนเด่น
7,64008,จิรา,20,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18,2024-01-23,เรียนปกติ
8,64009,ชนาธิป,23,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22,2024-02-11,เรียนเด่น
9,64010,ดารา,21,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28,2024-01-03,เรียนเด่น
10,64011,ธีระ,20,หญิง,วิทยาศาสตร์,3.78,167.0,68.0,21,2024-01-07,เรียนเด่น
11,64012,นภา,22,ชาย,วิทยาศาสตร์,3.44,171.0,62.9,16,2023-12-26,เรียนเด่น
12,64013,บุญมี,20,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24,2023-12-26,เรียนปกติ
13,64014,ปรีชา,21,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19,2024-01-08,เรียนเด่น
14,64015,พิมพ์,22,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26,2024-02-06,เรียนเด่น
15,64016,ภูมิ,19,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14,2024-01-20,เรียนเด่น
16,64017,มานี,20,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21,2024-01-24,เรียนปกติ
17,64018,ยุพา,21,หญิง,วิทยาศาสตร์,3.23,161.0,50.0,27,2024-01-08,เรียนปกติ
18,64019,รัตนา,20,ชาย,ศิลปศาสตร์,3.44,174.0,76.0,21,2023-12-18,เรียนเด่น
19,64020,ลัดดา,22,หญิง,วิทยาศาสตร์,3.45,168.0,64.0,23,2024-01-06,เรียนเด่น

# การรวม Features สร้าง BMI จากส่วนสูงและน้ำหนัก และสร้าง สุขภาพ

In [20]:
student_health = data.copy()


student_health['BMI'] = student_health['น้ำหนัก_kg'] / (student_health['ส่วนสูง_cm']/100)**2
student_health['สุขภาพ'] = pd.cut(student_health['BMI'],
                                   bins=[0, 18.5, 25, 30, 100],
                                   labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

student_health

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,BMI,สุขภาพ
0,64001,สมชาย,20,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15,2024-01-23,22.491349,ปกติ
1,64002,สมหญิง,21,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20,2024-02-05,21.303949,ปกติ
3,64004,สมศักดิ์,22,ชาย,วิทยาศาสตร์,3.44,168.0,70.0,10,2023-12-30,24.801587,ปกติ
4,64005,สมใจ,19,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30,2024-01-27,20.312500,ปกติ
6,64007,กิตติ,21,หญิง,วิศวกรรมศาสตร์,3.44,158.0,48.0,35,2024-01-05,19.227688,ปกติ
7,64008,จิรา,20,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18,2024-01-23,25.308642,อ้วน
8,64009,ชนาธิป,23,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22,2024-02-11,20.700817,ปกติ
9,64010,ดารา,21,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28,2024-01-03,21.513859,ปกติ
10,64011,ธีระ,20,หญิง,วิทยาศาสตร์,3.78,167.0,68.0,21,2024-01-07,24.382373,ปกติ
11,64012,นภา,22,ชาย,วิทยาศาสตร์,3.44,171.0,62.9,16,2023-12-26,21.510892,ปกติ
12,64013,บุญมี,20,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24,2023-12-26,25.209201,อ้วน
13,64014,ปรีชา,21,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19,2024-01-08,20.077335,ปกติ
14,64015,พิมพ์,22,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26,2024-02-06,21.338211,ปกติ
15,64016,ภูมิ,19,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14,2024-01-20,26.061679,อ้วน
16,64017,มานี,20,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21,2024-01-24,22.499637,ปกติ
17,64018,ยุพา,21,หญิง,วิทยาศาสตร์,3.23,161.0,50.0,27,2024-01-08,19.289379,ปกติ
18,64019,รัตนา,20,ชาย,ศิลปศาสตร์,3.44,174.0,76.0,21,2023-12-18,25.102391,อ้วน
19,64020,ลัดดา,22,หญิง,วิทยาศาสตร์,3.45,168.0,64.0,23,2024-01-06,22.675737,ปกติ